<html>
  
  <body>
    <h2>Create Pupper</h2>
    <form>
      <p>Name: <input name="name"/></p>
      <p>Breed: <input name="breed"></p>
      <p>Submit: <input name=</p>
      <input type="submit" id="Submit"/>
    </form>
    
  </body>
  
  
</html>